GEMINI_API_KEY=your_key_here
JIRA_EMAIL=
JIRA_URL=https://your-domain.atlassian.net
JIRA_API_TOKEN=your_token
BITBUCKET_USERNAME=your_username
BITBUCKET_APP_PASSWORD=your_app_password
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx